@import "colors.styl"

*
  margin: 0
  padding: 0

body
  background-color: $lightest
  font-family: "Helvetica Neue","Helvetica","Arial",Sans-Serif
  color: $dark
  line-height: 1.4

.content
  margin: 50px 70px
  max-width: 700px

  h1
    margin-bottom: 30px
    font-size: 40px

    & + h2
      margin-top: 0
  h2
  h3
    margin: 30px 0 15px

a
  color: $dark
  text-decoration: none
  font-weight: bold

  &:hover
    color: $darker
    
p
  margin-bottom: 10px

h1
  font-size: 26px
  color: $darker


h1
  color: $accent

pre
code
  background-color: #fff
  border: 1px solid #ddd
  font-size: 13px
  line-height: 19px
  overflow: auto
  padding: 6px 10px
  border-radius: 3px
  margin-bottom: 10px
  font-weight: normal

code
  padding:3px 5px
  margin:0

pre
  code
    background-color: #fff
    border: none
    font-size: inherit
    line-height: inherit
    padding: 0
    margin-bottom: 0