var Helper = require('asimov.js').Helper;
var _super = Helper.prototype;

module.exports = Helper.extend({

  'initialize': function () {

    var self = this;
    _super.initialize.apply(self, arguments);
  },

  'run': function () {

    var self = this;
    var options = self.opts(arguments);
    var hash = options.hash;

    // Here's where you implement your helper logic,
    // process the params and return a string of HTML

    return self.html('div', hash);
  }
});