var Initializer = require('asimov.js').Initializer;
var _super = Initializer.prototype;

module.exports = Initializer.extend({

  'run': function (next) {

    var self = this;

    // Here's where you do your custom initialization magic

    next();
  }
});