var Test = require('asimov.js').Test;

Test.run('{{name}}', function (test) {

//  test.spec('method ()', function () {
//
//    test.it('should be true', function () {
//      expect(true).to.be.true;
//    });
//  });

//  test.integration('/', function () {
//
//    test.itShould.loadPage();
//  });
});