{{style "404"}}

<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Page Not Found</title>
</head>
<body>

  <div class="container">
    <div class="logo">
      <h1>▲ asimov.js</h1>
    </div>
    <div class="message">
      Page Not Found
    </div>
  </div>

</body>
</html>