{{style "asimovBase"}}

{{style "main"}}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>

  <div class="container">
    {{import "asimovLogo"}}
    <div class="message">
      {{text}}
    </div>
  </div>

</body>
</html>