<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>

  {{style "main"}}
  {{script "bootstrap"}}
</head>
<body>
{{bundle "src/applications/Main/Application"}}
<div class="container">