<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>{{title}}</title>
  {{style "main"}}
  <!-- {{script "scripts/bootstrap"}} -->
</head>
<body>
  <!-- {{bundle "applications/Main/Application"}} -->
  <div class="asimov-container">