<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>{{title}}</title>
  {{style "main"}}
  {{script "scripts/bootstrap"}}
</head>
<body>
  {{script "applications/Main/Application" construct=true}}
  <div class="asimov-container">